<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kwandroid.sketcher"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
        />

    <application
        android:label="@string/application_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        >
        
        <activity
            android:name=".app.SketchActivity"
            android:label="@string/activity_sketch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
